{% extends "layout.html" %}

 {% block title %}Home{% endblock %}

 {% block content %}
      <h1>Home</h1>
    
      <ul>
        <li><a href="/steps">Steps</a></li>
        <li><a href="/obstaclesfaced">Obstacles faced</a></li> 
      </ul>

      <body>
      <header>
        <h1 style="font-family: serif"><font size="+3">Brief Description</font> </h1>
      </header>

      <div style="text-indent: 25px;" >
        This focus tracker is meant to help keep the user stay on task by alerting the user every time a phone is seen in the image. The program will play an audio message telling the user to get off their phone and a text message is sent to the phone.
      </div>
    </body>
 {% endblock %}
