{% extends "layout.html" %}

{% block title %}Obstacles faced{% endblock %}

{% block content %}

<h1>
    Integrating AI/ML model into Web App
</h1>
<p style="text-indent: 25px;">
    We tried integrating the Yolov5 model into a website but the issue we faced was that you aren't allowed to have the user click the button and have a script run because that is considered a security risk. We had to have the code for opening the camera to be directly on the WebApp, but since we used the model from someone else, we couldn't do that.
</p>

{% endblock %}